h1 {
    text-align: center;
}

video {
    display: block;
    margin: auto;
}

p {
    text-align: center;
}

html, body {
    height: auto;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}